<% if @ordered_items.count == 0 %>
  <h3 align="center">Your Cart is empty!</h3>
<% else %>
  <h2 align="center">Current Cart</h2>
  <table class="table table-bordered table-striped table-hover ">
    <thead class="thead-dark">
    <tr>
      <td>Thumbnail</td>
      <td>Detail</td>
      <td>Quantity</td>
      <td>Price</td>
      <td>Sub Total</td>
      <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <% @ordered_items.each do |item| %>
      <tr>
        <td><%= image_tag('d-box.png', class: 'circular-image') %></td>
        <td><%= item.product_variant.details %></td>
        <td class="cart_quantity" stock="<%= item.product_variant.in_stock %>" id="<%= item.id %>"><%= item.quantity %></td>

<!--        <td id="<%#= item.id %>" class="update_quantity" style="display:none;">-->
        <%#= form_with model: item do |f| %>
        <%#= f.number_field :quantity, value: item.quantity, min: 1, max: item.product_variant.in_stock, style: 'width: 50%;', placeholder: 'Select amount', id: "purchase-amount" %>
        <%#= f.submit "Update" %>
        <%# end %>
<!--        </td>-->

        <td class="base_price" ><%=  item.price %></td>
        <td class="total_price"> <%=  item.total %> </td>
        <td>
          <%= link_to 'Remove item', item, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger float-right" %>
        </td>
      </tr>
    <% end %>
    </tbody>

    <tfoot>
    <tr>
      <td class="grand_total" colspan="6" style=" text-align: right; padding-right: 287px;">
        <strong><%= number_to_currency current_order.sub_total, precision: 2 %></strong>
      </td>

    </tr>
    </tfoot>

  </table>
  <br>
  <%= link_to 'Proceed to Checkout', orders_path, method: :put, class: "btn btn-success" %>
<% end %>