<div class="container">
  <% if @ordered_items.count == 0 %>
    <h3 align="center">Your Cart is empty!</h3>
  <% else %>
    <h2 align="center">Current Cart</h2>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Detail</th>
        <th>Quantity<small><i>(Click to update)</i></small></th>
        <th>Price</th>
        <th>Sub Total</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @ordered_items.each do |item| %>
        <tr>
          <% if item.product_variant.product_images.attached? %>
            <td><%= image_tag item.product_variant.product_images.first, class: 'circular-image float_center' %></td>
          <% else %>
            <td><small class="circular-image float_center">Image not found</small></td>
          <% end %>
          <td><%= item.product_variant.details %></td>
          <td class="cart_quantity " stock="<%= item.product_variant.in_stock %>" id="<%= item.id %>"><%= item.quantity %></td>
          <td class="base_price dollars"><%= item.price %></td>
          <td class="sub_total_price dollars"><%= item.total %></td>
          <td>
            <%= link_to item, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
      <tr style="background-color: #9bbfba;">
        <th colspan="4">Total</th>
        <td class="grand_total" colspan="2">
          <strong class="dollars" style="margin-left: 25px;"><%= current_order.sub_total %></strong></td>
      </tr>
      </tfoot>

    </table>
    <%= link_to 'Proceed to Checkout', new_order_path, class: "btn btn-warning" %>
  <% end %>
</div>