<div class="container">
  <% if @ordered_items.count == 0 %>
    <h3 align="center">Your Cart is empty!</h3>
  <% else %>
    <h2 align="center">Current Cart</h2>
    <table class="table table-bordered table-striped table-hover ">
      <thead style="background-color: #C8DDC6;">
      <tr>
        <td>Thumbnail</td>
        <td>Detail</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Sub Total</td>
        <td>Action</td>
      </tr>
      </thead>
      <tbody>
      <% @ordered_items.each do |item| %>
        <tr>
          <td><%= image_tag('mobile_demo.jpg', class: 'circular-image') %></td>
          <td><%= item.product_variant.details %></td>
          <td class="cart_quantity" stock="<%= item.product_variant.in_stock %>" id="<%= item.id %>"><%= item.quantity %></td>
          <td class="base_price dollars"><%= item.price %></td>
          <td class="sub_total_price dollars"> <%= item.total %> </td>
          <td>
            <%= link_to 'Remove item', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
      <tr>
        <th colspan="4">Total</th>
        <td class="grand_total dollars" colspan="2">
          <strong><%= current_order.sub_total %></strong>
        </td>
      </tr>
      </tfoot>

    </table>
    <%= link_to 'Proceed to Checkout', new_order_path, class: "btn btn-success" %>
  <% end %>
</div>