<div class="container col-md-6" style="margin-left: 319px;">
  <h1 style="padding-left: 157px;"> Sign Up</h1> <br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <b><%= f.label :First_name %></b> <br>
      <%= f.text_field :first_name, placeholder: 'First Name...', autofocus: true, class: 'form-control'%>
    </div>
    <div class="field">
      <b><%= f.label :Last_name %></b> <br>
      <%= f.text_field :last_name, placeholder: 'Last Name...', autofocus: true, class: 'form-control'%>
    </div>
    <div class="field">
      <b><%= f.label :Email %></b> <br>
      <%= f.email_field :email, placeholder: 'Email...', autofocus: true, class: 'form-control'%>
    </div>
    <br>
    <div class="field">
      <b><%= f.label :password %></b>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="field">
      <b><%= f.label :Confirm_password %><br/></b>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="field">
      <b><%= f.label :Contact %></b> <br>
      <%= f.text_field :contact, placeholder: 'Contact no...', autofocus: true, class: 'form-control' %>
    </div>


    <div class="field">
      <b><%= f.label :profile_picture %> <br></b>
      <%= f.file_field :avatar%>
    </div>

    <div class="field ">
      <b><%= f.label :gender %><br /></b>
      <%= f.radio_button(:gender, "male") %> &nbsp &nbsp
      <%= label(:gender, "Male") %>&nbsp &nbsp
      <%= f.radio_button(:gender, "female") %>
      <%= label(:gender, "Female") %>
      <%= f.radio_button(:gender, "other") %>&nbsp &nbsp
      <%= label(:gender, "Other") %>
    </div>

    <br>


    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-success form-control' %>
    </div>
  <% end %>

  <br>
  <%#= render "devise/shared/links" %>


</div>