<div class="content">
  <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
    <%= form_for @banner, url: admin_banner_path do |form| %>
      <div class="field" style="width: 50%">
        <%= form.label :Name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <br>
      <div class="row">
        <div class=" col-md-3 ">
          <%= image_tag(@banner.banner_image.attached? ? @banner.banner_image : 'image-not-found.png', width: '150px', height: '100px') %>
        </div>
      </div>
      <br>
      <div class="field avoid_line_break" style="width: 30%">
        <%= form.label :Edit_photo %>:
        <%= form.file_field :banner_image %>
      </div>
      <br>
      <div>
        <br>
        <%= form.submit "Update Banner", class: 'btn btn-success' %>
        <%= link_to "Cancel", :back, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>


