<div class="content">
  <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
    <div class="card">
      <h3 align="center"><%= @product.title %></h3>
      <hr>
      <br>
      <%= form_for(@product_variant, url: admin_product_product_variant_path(@product, @product_variant), method: :patch) do |form| %>

        <div class="row">
          <div class=" form-group col-md-12 ">
            <%= form.label :Product_details, class: "col-form-label-lg" %>
            <%= form.text_field :details, class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-3 ">
            <%= form.label :Purchase_price, class: "col-form-label-lg" %>
            <%= form.number_field :purchase_price,min: 0, step: :any, class: "form-control" %>
          </div>

          <div class="form-group col-md-3">
            <%= form.label :Selling_price, class: "col-form-label-lg" %>
            <%= form.number_field :price,min: 0, step: :any, class: "form-control" %>
          </div>

          <div class="form-group col-md-3">
            <%= form.label :Stocked_amount, class: "col-form-label-lg" %>
            <%= form.number_field :in_stock,min: 0, step: :any, class: "form-control" %>
          </div>

          <div class="form-group col-md-3">
            <%= form.label :Unit, class: "col-form-label-lg" %>
            <%= form.text_field :unit, class: "form-control" %>
          </div>

        </div>
        <br>
        <div class="row">
          <div class="form-group col-md-3">
            <%= form.label :featured, class: "col-form-label-lg" %><br/>
            <%= form.radio_button(:featured, "yes") %>
            <%= label(:featured, "Yes") %>
            <%= form.radio_button(:featured, "no") %>
            <%= label(:featured, "No") %>
          </div>
          <div class="form-group col-md-3">
            <%= form.file_field :product_images, multiple: true, style: 'margin-bottom: 0.5rem'  %>
          </div>
          <div class="form-group col-md-6">
            <% (0...@product_variant.product_images.count).each do |index| %>
                <%= image_tag(@product_variant.product_images[index].variable? ? @product_variant.thumbnail(index) : 'image-not-found.png')%>
            <% end %>
          </div>
        </div>
        <br>

        <br>

        <div>
          <%= form.submit "Update", class: "btn btn-success" %>
          <%= link_to "Cancel", admin_product_path(@product), class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>