<div class="content">
  <div class="row custom-width">
    <div id="user-activity" class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              Product variants for: <h4 class="card-title" style="display: flex"><%= @product.title %></h4>
            </div>
            <div class="col-4">
              <%= link_to '+ Add Variant', new_admin_product_product_variant_path(@product), class: "btn btn-primary float-right" %>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive recentOrderTable">
            <table class="table table-responsive-md">
              <thead>
              <tr>
<!--                <th scope="col">Thumbnail</th>-->
                <th scope="col">Product details</th>
                <th scope="col">In stock</th>
                <th scope="col">Purchase Price</th>
                <th>Selling Price</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              <% @product_variants.each do |product_variant| %>
                <tr>
<!--                <td><%#= image_tag(product_variant.product_images.first, class: 'circular-image')%></td>-->
                <td><%= product_variant.details %></td>
                <td><%= product_variant.in_stock %> </td>
                <td><%= number_to_currency product_variant.purchase_price %></td>
                <td><%= number_to_currency product_variant.price %></td>

                <td>
                  <%#= link_to admin_product_product_variant_path(@product, product_variant) do %>
                  <!--                    <i class="far fa-eye" title="Show Variants"></i>-->
                  <%# end %>
                  <!--                  |-->
                  <%= link_to edit_admin_product_product_variant_path(@product, product_variant) do %>
                    <i class="far fa-edit" title="Edit Variant"></i>
                  <% end %>
                  |
                  <%= link_to admin_product_product_variant_path(@product, product_variant), method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <i class="far fa-trash-alt" title="Delete Variant"></i>
                  <% end %>
                </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
