
<div id="error_explanation">
  <%= flash[:added_to_cart] %>
</div>

<div class="content">
  <div class="card">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <%= image_tag(@product_variant.product_images.exists? ? @product_variant.tile_photo(0) : 'image-not-found') %>
            </div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <% if @product_variant.product_images.count > 1 %>
              <% (1...@product_variant.product_images.count).each do |index| %>
                <li class="active">
                  <%= image_tag(@product_variant.thumbnail(index)) if @product_variant.product_images[index].variable? %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="details col-md-6">
          <h3 class="product-title"><%= @product_variant.product.title %></h3>
<!--          <div class="rating">-->
<!--            <div class="stars">-->
<!--              <span class="fa fa-star checked"></span>-->
<!--              <span class="fa fa-star checked"></span>-->
<!--              <span class="fa fa-star checked"></span>-->
<!--              <span class="fa fa-star"></span>-->
<!--              <span class="fa fa-star"></span>-->
<!--            </div>-->
<!--            <span class="review-no">41 reviews</span>-->
<!--          </div>-->
          <p class="product-description"><%= @product_variant.details %></p>
          <i><b><h5 class="price">current price: <span class="dollars"> <%= formatted_price(@product_variant.final_price) %></span></h5></b></i>
          <br>

          <div class="product-quantity">
            <% if @product_variant.in_stock > 0 %>
              <h5> Available: <%= pluralize(@product_variant.in_stock, @product_variant.unit) %> </h5>
            <% else %>
              <h5>Out of stock</h5>
            <% end %>

          </div>
          <%= link_to edit_admin_product_product_variant_path(@product_variant.product_id, @product_variant), class: "btn btn-info" do %>
            <i class="far fa-edit" title="Edit Variant"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>







