<div class="content">
  <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
    <div class="card" style="align-items: center">

      <div class="form-row">
        <div class="form-group col-12">
          <h3>
            <%= @discount.discountable_type %> /
            <% if @discount.discountable_type == "Category" %>
              <%=Category.find(@discount.discountable_id).title %>
            <% else %>
              <%=Product.find(@discount.discountable_id).title %>
            <% end %>
          </h3>
        </div>
      </div>
        <%= form_for @discount, url: admin_discount_path, method: :patch do |f| %>
        <div class="form-row">
            <div class="form-group col-md-12">
              <div class="discount_radio">
                <b><%= f.label :discount_type %>:</b> <br>
                <%= f.radio_button(:discount_type, "Percent") %>
                <%= label(:discount_type, "Percent Off") %>&nbsp &nbsp
                <%= f.radio_button :discount_type, 'Fixed' %>
                <%= label(:discount_type, "Fixed Amount") %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :amount %>:
              <%= f.number_field :amount, min: 1, class: 'form-control' %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :valid_from %>:
              <%= f.datetime_field :valid_from, class: 'form-control' %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :valid_till %>:
              <%= f.datetime_field :valid_till, class: 'form-control'%>
            </div>
          </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.submit 'Update Discount', class: 'btn btn-info', style: 'width:100%;'%>
          </div>
          <div class="form-group col-md-12">
            <%= link_to  'Cancel', :back, class: 'btn btn-danger', style:'width:100%;'%>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>

