<div id="error_explanation">
  <%= flash[:delete_order] %>
</div>

<div class="content">
  <div class="row custom-width">
    <div id="user-activity" class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" style="display: flex"><i class="fas fa-shopping-bag"></i>All Orders</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive recentOrderTable">
            <table class="table verticle-middle table-responsive-md">
              <thead>
              <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Status</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>

              <% @final_orders.each do |order| %>
                <td><%= order.id %></td>
                <td><%= order.user.first_name %> <%= order.user.last_name %></td>
                <td>Delivered</td>

                <td><%= order.total %></td>
                <td>
                  <%= link_to admin_order_ordered_items_path(order) do %>
                    <i class="far fa-eye" title="Show Invoice"></i>
                  <% end %>
<!--                  |-->
                  <%#= link_to admin_orders_path(order), method: :delete, data: {confirm: 'Are you sure? All the details of the order will be also deleted'} do %>
<!--                    <i class="fas fa-trash-alt" title="Delete"></i>-->
                  <%# end %>
                </td>
                </tr>
              <% end %>
              <tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="digg_pagination apple_pagination">
        <div class="page_info">
          <%= page_entries_info @final_orders %>
        </div>
        <%= will_paginate @final_orders, :container => false %>
      </div>
    </div>
  </div>

</div>
