<div id="error_explanation">
  <%= flash[:delete_order] %>
</div>

<div class="content">
  <%= render 'admin/orders/search_form' %>
  <div class="row custom-width">
    <div id="user-activity" class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" style="display: flex"><i class="fas fa-shopping-bag"></i>All Orders</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive recentOrderTable">
            <table class="table table-responsive-md">
              <thead>
              <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Status</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>

              <% @orders.each do |order| %>
                <td><%= order.id %></td>
                <td><%= order.user.first_name %> <%= order.user.last_name %></td>
                <td>
                  <div class="order_status" id="<%= order.id %>">
                    <% if order.status == 0 %>
                      Pending
                    <% elsif order.status == 1%>
                      Dispatched
                    <% elsif order.status == 2%>
                      Delivered
                    <% elsif order.status == 3 %>
                      Canceled
                    <% end %>
                    <div class="update_status" id="update_status_<%= order.id %>">
                      <% if order.status == 0 || order.status == 1 %>
                        <%= form_for order, url: admin_order_path(order) do |f| %>
                          <%= f.select :status, Order.statuses.for_select, class: 'form-control' %>
                          <%= f.submit 'Submit', class: 'btn btn-success my-btn'%>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <% if order.status == 0 || order.status == 1 %>
                    <button class="btn btn-danger my-btn my-cancel-btn update_status_cancel" id="update_status_cancel_<%= order.id %>">Cancel</button>
                  <% end %>
                </td>
                <td class="dollars"><%= formatted_price(order.total- (order.coupon_discount || 0)) %></td>

                <td>
                  <%= link_to admin_order_path(order) do %>
                    <i class="far fa-eye" title="Show Order"></i>
                  <% end %>
                </td>
                </tr>
              <% end %>
              <tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="digg_pagination apple_pagination">
        <div class="page_info">
          <%= page_entries_info @orders %>
        </div>
        <%= will_paginate @orders, :container => false %>
      </div>
    </div>
  </div>

</div>
