<div class="content">
  <% if @final_ordered_items.count == 0 %>
    <h3 align="center">This Order Has No Product</h3>
  <% else %>
    <h2 align="center">Ordered Items</h2>
    <table class="table table-bordered table-striped table-hover ">
      <thead style="background-color: #C8DDC6;">
      <tr>
        <th>Product Name</th>
        <th>Product details</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Sub Total</th>
      </tr>
      </thead>
      <tbody>
      <% @final_ordered_items.each do |item| %>
        <tr>
          <td><%= item.product_variant.product.title %></td>
          <td><%= item.product_variant.details %></td>
          <td><%= item.quantity %></td>
          <td>
            <%= number_to_currency item.price, precision: 2 %>
          </td>
          <td>
            <%= number_to_currency item.subtotal, precision: 2 %>
          </td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
      <tr>
        <th colspan="4">Total</th>
        <td>
          <strong><%= number_to_currency @final_ordered_items.sum(:subtotal), precision: 2 %></strong>
        </td>

      </tr>
      </tfoot>

    </table>
  <% end %>
</div>