<div class="content">
  <% if @final_ordered_items.count == 0 %>
    <h3 align="center">This Order Has No Product</h3>
  <% else %>
    <div class="container" style="border: solid thin moccasin;" id="print-bill">
      <h3 align="center">Invoice</h3>
      <hr>
      <div class="margin-top-40">
        <div class="row font-18">
          <div class="col-md-9">
            <b>Name:</b> <%= @final_order.name %>
          </div>
          <div class="col-md-3">
            <b>Invoice ID:</b> <%= @final_order.id %>
          </div>
        </div>

        <div class="row font-18">
          <div class="col-md-9">
            <b>Address:</b> <%= @final_order.address %>
          </div>
          <div class="col-md-3">
            <b>Invoice Date:</b> <%= @final_order.created_at.strftime("%d/%m/%Y") %>
          </div>
        </div>

        <div class="row font-18">
          <div class="col-md-9">
            <b>Email:</b> <%= @final_order.email %>
          </div>
          <div class="col-md-3">
            <b>Payment:</b> <%= @final_order.payment_method %>
          </div>
        </div>

        <div class="row font-18">
          <div class="col-md-12">
            <b>Phone:</b> <%= @final_order.phone.to_i %>
          </div>
        </div>
      </div>

      <div class="margin-top-50">
        <h4 align="center">Ordered Items</h4>
        <table class="table table-bordered table-striped table-hover ">
          <thead>
          <tr>
            <th>Product Name</th>
            <th>Product details</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Sub Total</th>
          </tr>
          </thead>
          <tbody>
          <% @final_ordered_items.each do |item| %>
            <tr>
              <td><%= item.product_variant.product.title %></td>
              <td><%= item.product_variant.details %></td>
              <td><%= item.quantity %></td>
              <td class="bdt">
                <%= formatted_price(item.price) %>
              </td>
              <td class="bdt">
                <%= formatted_price(item.subtotal) %>
              </td>
            </tr>
          <% end %>
          </tbody>

          <tfoot>
          <% if @final_ordered_items.sum(:subtotal) != @final_order.total %>
            <tr>
              <th colspan="4" class="right-text">Coupon Discount</th>
              <td class="center-text">
                <strong class="bdt">
                  <%= formatted_price((@final_ordered_items.sum(:subtotal) - @final_order.total)) %>
                </strong>
              </td>
            </tr>
          <% end %>
          <tr>
            <th colspan="4" class="right-text">Total</th>
            <td class="center-text">
              <strong class="bdt"> <%= formatted_price(@final_order.total) %></strong>
            </td>
          </tr>
          </tfoot>

        </table>
      </div>
    </div>
  <% end %>
  <div class="margin-top-30 row print-cls">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= link_to 'Print bill', 'print-bill', :onclick => 'window.print();return false;', class: "btn btn-secondary", style: "width: 200px" %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>