<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>Shipping Address</h2>
      <hr>
      <%= form_for @user_address, id: "check_out", url: process_payment_path do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend input_icon_height">
            <span class="input-group-text ">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <%= f.text_field :full_name, value: "#{current_user.first_name} #{current_user.last_name}", class: 'form-control', placeholder: 'Full Name' %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend input_icon_height">
            <span class="input-group-text ">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <%= f.text_field :email, value: "#{current_user.email}", disabled: true, class: 'form-control' %>
          <%= f.hidden_field :email, value: "#{current_user.email}" %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend input_icon_height">
            <span class="input-group-text ">
              <i class="fas fa-phone"></i>
            </span>
          </div>
          <%= f.text_field :phone, value: "#{current_user.contact}", class: 'form-control', placeholder: 'Phone' %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend input_icon_height">
            <span class="input-group-text ">
              <i class="far fa-address-card"></i>
            </span>
          </div>
          <%= f.text_field :address, value: "#{current_user.address}", class: 'form-control', placeholder: 'Address' %>
        </div>

        <div class="row">

          <div class="col-md-6" style="padding-left: 0px">
            <div class="input-group mb-3">
              <div class="input-group-prepend input_icon_height">
                <span class="input-group-text ">
                  <i class="fas fa-road"></i>
                </span>
              </div>
              <%= f.text_field :street, placeholder: 'Street', class: 'form-control', required: true %>
            </div>
          </div>

          <div class="col-md-6" style="padding-right: 0px">
            <div class="input-group mb-3">
              <div class="input-group-prepend input_icon_height">
                <span class="input-group-text ">
                  <i class="fas fa-city"></i>
                </span>
              </div>
              <%= f.text_field :city, placeholder: 'City', class: 'form-control', required: true %>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-6" style="padding-left: 0px">
            <div class="input-group mb-3">
              <div class="input-group-prepend input_icon_height">
                <span class="input-group-text ">
                  <i class="fas fa-globe"></i>
                </span>
                <span class="input-group-text">
                   Choose Your Country
                </span>
              </div>
              <%#= f.country_select :country %>
            </div>
          </div>

          <div class="col-md-6" style="padding-right: 0px">
            <div class="input-group mb-3">
              <div class="input-group-prepend input_icon_height">
                <span class="input-group-text ">
                  <b>Zip</b>
                </span>
              </div>
              <%= f.text_field :zip, placeholder: '10001', class: 'form-control', required: true %>
            </div>
          </div>

          <div class="col-md-6" style="padding-left: 0px">
            <input
              class="btn checkoutbtn form-control"
              id="check_out"
              type="submit"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-email="<%= current_user.email %>"
              data-name="D-box.org"
              data-description="Confirm Payment"
              data-amount="<%= @amount %>"
              data-label="Confirm Payment"
              data-locale="auto"
              />
          </div>
          <div class="col-md-6" style="padding-right: 0px">
            <%= link_to 'Cancel', :back, class: "btn cancelbtn form-control" %>
          </div>

        </div>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>



<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
