<div class="content" id="show-invoice">
  <% if @ordered_items.count == 0 %>
    <h3 align="center">This Order Has No Product</h3>
  <% else %>
    <div class="container" style="border: solid thin moccasin;" id="print-bill">
      <h3 align="center">Invoice</h3>
      <hr>
      <div class="margin-top-40">

        <div class="row font-17">
          <div class="col-md-6">
            <div class="col-md-12">
              <b>Name:</b> <%= "#{@user.first_name} #{@user.last_name}" %>
            </div>
            <div class="col-md-12">
              <b>Email:</b> <%= @user.email %>
            </div>
            <div class="col-md-12">
              <b>Phone:</b> <%= @user.phone %>
            </div>
            <div class="col-md-12">
              <b>Address:</b>
              <%= "#{@user.address}, #{@user.street}, #{@user.city}, #{@user.country} - #{@user.zip}" %>
            </div>
            <div class="col-md-12">
              <b>Country:</b>
              <%= @user.country_name %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="col-md-12">
              <b>Invoice ID:</b> <%= @order.id %>
            </div>
            <div class="col-md-12">
              <b>Invoice Date:</b> <%= @order.created_at.strftime('%d %b, %Y, %k:%M:%S %Z') %>
            </div>
            <div class="col-md-12">
              <b>Payment By:</b> <%= @user.payment_option %>
            </div>
            <div class="col-md-12">
              <b>Transaction ID:</b>
              <%= @order.transaction_id %>
            </div>
          </div>
        </div>





      </div>

      <div class="margin-top-50">
        <h4 align="center">Ordered Items</h4>
        <table class="table table-bordered table-striped table-hover ">
          <thead>
          <tr>
            <th>Product Name</th>
            <th>Product details</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Sub Total</th>
          </tr>
          </thead>
          <tbody>
          <% @ordered_items.each do |item| %>
            <tr>
              <td><%= item.product_variant.product.title %></td>
              <td><%= item.product_variant.details %></td>
              <td><%= item.quantity %></td>
              <td class="dollars">
                <%= formatted_price(item.price) %>
              </td>
              <td class="dollars">
                <%= formatted_price(item.subtotal) %>
              </td>
            </tr>
          <% end %>
          </tbody>

          <tfoot>
          <% if @order.coupon_discount %>
            <tr>
              <th colspan="4" class="right-text">Coupon Discount</th>
              <td class="center-text">-
                <strong class="dollars">
                  <%= formatted_price(@order.coupon_discount) %>
                </strong>
              </td>
            </tr>
          <% end %>
          <tr>
            <th colspan="4" class="right-text">Total</th>
            <td class="center-text">
              <strong class="dollars"> <%= formatted_price(@order.total - (@order.coupon_discount || 0)) %></strong>
            </td>
          </tr>
          </tfoot>

        </table>
      </div>
    </div>
  <% end %>
  <div class="margin-top-30 row print-cls">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= link_to 'Download', 'print-bill', :onclick => 'window.print();return false;', class: "btn btn-secondary", style: "width: 200px" %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>