<h2 align="center">Current Cart</h2>


<table class="table table-bordered table-striped table-hover ">
  <thead class="thead-dark">
  <tr>
    <td>Product</td>
    <td>Price</td>
    <td>Quantity</td>
  </tr>
  </thead>
  <tbody>
  <% @ordered_items.each do |item| %>
    <%#= raise current_cart.inspect %>
    <tr>
      <td><%= item.product_variant.product.title %></td>
      <td><%= number_to_currency item.price %></td>
      <td><%= item.quantity %>

        <%= link_to 'Delete', ordered_item_path(item), class: "btn btn-danger float-right", method: :delete, data: {confirm: 'Are you sure?'} %> </td>

      <!--        <td>-->
      <%#= form_for item, method: :delete do |f| %>
      <%#= f.submit "Remove" %>
      <%# end %>
      <!--        </td>-->
    </tr>
  <% end %>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="3"  align="right">
      <%= number_to_currency current_cart.sub_total %>
    </td>
  </tr>
  </tfoot>

</table>
<%= link_to 'Checkout', class: "btn btn-danger" %>