
<div class="container">


  <% @categories.each do |category| %>
    <h3><%= link_to category.title, all_products_by_category_path(category) %></h3> <hr>
    <div class="row">

        <% category.products.each do |product| %>
          <% product.product_variants.each do |variant| %>
            <% if variant.featured == true %>
<!--            <div class="owl-carousel">-->
              <div class="col-md-2 col-sm-4">
                <div class="product-grid2">
                  <%= link_to product_product_variant_path(product, variant) do %>
                    <div class="product-image2">
                      <%= image_tag ("mobile_demo.jpg"), class: "pic-1" %>
                    </div>
                    <div class="product-content">
                      <p class="title"><%= product.title.truncate(50, separator: /\s/) %></p>
                      <span class="price">&#x9f3;<%= variant.price %></span>
                    </div>
                  <% end %>
                </div>
              </div>
<!--            </div>-->
            <% end %>
          <% end %>
        <% end %>

    </div>
  <% end %>

</div>