<%= form_for @category, url: admin_categories_path,method: :post, local: true do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group ">
    <%= form.text_field :title, class: "form-control", placeholder: "Category Title..."%>
  </div>

  <div class="actions form-group">
    <%= form.submit class: "btn btn-success"%>
    <%= link_to 'cancel', :back, class: "btn btn-danger" %>
  </div>
<% end %>
