<div class="nested-fields">

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :Details, class: "col-form-label-lg" %>
      <%= f.text_area :details, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <%= f.label :Price, class: "col-form-label-lg" %>
      <%= f.number_field :price, step: 0.01, min: 1, class: 'form-control' %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :Purchase_price, class: "col-form-label-lg" %>
      <%= f.number_field :purchase_price, step: 0.01, min: 1, class: 'form-control' %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :Stock_Quantity, class: "col-form-label-lg" %>
      <%= f.number_field :in_stock, min: 1, class: 'form-control' %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :featured, class: "col-form-label-lg" %><br/>
      <%= f.radio_button(:featured, "yes") %>
      <%= label(:featured, "Yes") %>
      <%= f.radio_button(:featured, "no") %>
      <%= label(:featured, "No") %>
    </div>
  </div>

  <br>
  <div class="form-row">
    <div class="form-group col-md-12">
      <strong> <%= f.label :upload_variant_photo %>: </strong>
      <%= f.file_field :product_images, multiple: true %>
    </div>
  </div>
  <br>

  <%= link_to_remove_association "Remove Variant", f %>
</div>