<div class="nested-fields">

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :Details, class: "col-form-label-lg mb-0" %>
      <%= f.text_area :details, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <%= f.label :Price, class: "col-form-label-lg py-0 mb-0" %>
      <%= f.number_field :price, step: :any, min: 1, class: 'form-control' %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :Purchase_price, class: "col-form-label-lg py-0 mb-0" %>
      <%= f.number_field :purchase_price, step: :any, min: 1, class: 'form-control' %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :Stock_Quantity, class: "col-form-label-lg py-0 mb-0" %>
      <%= f.number_field :in_stock, step: :any, min: 1, class: 'form-control' %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :Unit, class: "col-form-label-lg py-0 mb-0" %>
      <%= f.text_field :unit, class: "form-control" %>
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <strong> <%= f.label :upload_variant_photo %>: </strong>
      <%= f.file_field :product_images, multiple: true %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :featured, class: "col-form-label-lg mb-0" %><br/>
      <%= f.radio_button(:featured, "yes") %>
      <%= label(:featured, "Yes") %>
      <%= f.radio_button(:featured, "no", class: 'ml-3') %>
      <%= label(:featured, "No") %>
    </div>
  </div>

  <%= link_to_remove_association "Remove Variant", f %>
</div>