<div class="content">
  <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
    <div class="card">
      <h3 align="center">Add Product</h3>
      <hr>
      <br>
      <%= form_for @product, url: admin_products_path do |form| %>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label class="col-form-label-lg">Category: </label>
            <%= select_tag :categories, options_from_collection_for_select(Category.all, :id, :title), { prompt: "Choose a category", id: "category_select", class: 'form-control'} %>
          </div>

          <div class="form-group col-md-6">
            <label class="col-form-label-lg">Subcategory: </label>
            <span id="subcategories_select">
              <%= select_tag :sub_categories, options_from_collection_for_select({}, :id, :title), { prompt: "Choose a subcategory", id: 'sub_category-select', disabled: true, class: 'form-control'} %>
            </span>
          </div>

        </div>

        <div class="form-row">
          <div class="col-md-6"></div>
          <div class="form-group col-md-6">
            <label class="col-form-label-lg">Selected SubCategories: </label>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-12">
            <%= form.label :Name, class: "col-form-label-lg" %>
            <%= form.text_field :title, class: 'form-control' %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <strong><%= form.label :Upload_brand_photo %>:</strong>
            <%= form.file_field :brand_image %>
          </div>
        </div>
        <br>


        <div class="nested-attributes-div">
          <%= form.fields_for :product_variants do |variant| %>
            <%= render 'product_variant_fields', f: variant %>
          <% end %>
          <div class="links">
            <%= link_to_add_association "Add Variant", form, :product_variants %>
          </div>
        </div>

        <%= form.submit "Add Product", class: "btn btn-primary" %>
        <%= link_to "Cancel", :back, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>



