<div class="sidebar" style="background-color: #e3f2fd; width:200px">
  <%= active_link_to "Dashboard", admin_admin_panels_path %>
  <%= active_link_to "Products", admin_products_path %>
  <%= active_link_to "Banners", admin_banners_path %>
  <%= active_link_to "Orders", admin_orders_path %>
  <%= active_link_to "Categories", admin_categories_path %>
  <%= active_link_to "Reports", admin_reports_path %>
  <%= active_link_to "Set Discount", admin_discount_index_path %>
  <%= active_link_to "Create Coupon", admin_coupon_index_path %>
</div>
