<div class="sidebar" style="background-color: #e3f2fd; width:160px">
  <%= active_link_to "Dashboard", admin_admin_panels_path %>
  <%= active_link_to "Orders", admin_orders_path %>
  <%= active_link_to "Products", admin_all_product_path %>
  <%= active_link_to "Categories", admin_categories_path %>
  <%= active_link_to "Reports", admin_reports_path %>
  <%= active_link_to "Set Discount", new_admin_discount_path %>
  <%= active_link_to "Create Coupon", new_admin_coupon_path %>
</div>
