<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 col-xxl-8 col-lg-8 col-md-12">
        <div id="user-activity" class="card">
          <div class="card-header">
            <h4 class="card-title">Statistics</h4>
            <div class="card-action">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active viewSwitch" data-toggle="tab" href="#day" role="tab">Day</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link viewSwitch" data-toggle="tab" href="#week" role="tab">Week</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link viewSwitch" data-toggle="tab" href="#month" role="tab">Month</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content mt-5" id="myTabContent">
              <div id="day">
                <%= line_chart [{ name: 'User', data: User.group_by_day(:created_at).count },
                                { name: 'Order', data: Order.group_by_day(:created_at).count },
                                { name: 'Product', data: Product.group_by_day(:created_at).count }], refresh: 120 %>
              </div>
              <div id="week">
                <%= line_chart [{ name: 'User', data: User.group_by_week(:created_at).count },
                                { name: 'Order', data: Order.group_by_week(:created_at).count },
                                { name: 'Product', data: Product.group_by_week(:created_at).count }], refresh: 120 %>
              </div>
              <div id="month">
                <%= line_chart [{ name: 'User', data: User.group_by_month(:created_at).count },
                                { name: 'Order', data: Order.group_by_month(:created_at).count },
                                { name: 'Product', data: Product.group_by_month(:created_at).count }], refresh: 120 %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-12">
        <div class="row">
          <div class="col-lg-12 col-md-4">
            <div class="widget-stat card">
              <div class="card-body">
                <div class="media ai-icon">
                  <span class="mr-3">
                    <svg id="icon-customers" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                      <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" style="stroke-dasharray: 25, 45; stroke-dashoffset: 0;"></path>
                      <path d="M8,7A4,4 0,1,1 16,7A4,4 0,1,1 8,7" style="stroke-dasharray: 26, 46; stroke-dashoffset: 0;"></path>
                    </svg>
                  </span>
                  <div class="media-body">
                    <p class="mb-1">Customers</p>
                    <h4 class="mb-0"><%= User.count %></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-4">
            <div class="widget-stat card">
              <div class="card-body">
                <div class="media ai-icon">
                  <span class="mr-3">
                    <svg id="icon-orders" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                      <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" style="stroke-dasharray: 66, 86; stroke-dashoffset: 0;"></path>
                      <path d="M14,2L14,8L20,8" style="stroke-dasharray: 12, 32; stroke-dashoffset: 0;"></path>
                      <path d="M16,13L8,13" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
                      <path d="M16,17L8,17" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
                      <path d="M10,9L9,9L8,9" style="stroke-dasharray: 2, 22; stroke-dashoffset: 0;"></path>
                    </svg>
                  </span>
                  <div class="media-body">
                    <p class="mb-1">Orders</p>
                    <h4 class="mb-0"><%= @order.count %></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" style="display: flex"><i class="fas fa-shopping-bag"></i> &nbsp;Recent Orders</h4>
            <h4 class="card-title" style="display: inline; "><%= link_to 'All Orders', admin_products_path %></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive recentOrderTable">
              <table class="table table-responsive-md">
                <thead>
                <tr>
                  <th scope="col">Order Id</th>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Total</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <% @order.last(10).reverse_each do |order| %>
                  <td><%= order.id %></td>
                  <td><%= order.user.first_name %> <%= order.user.last_name %></td>
                  <td>Delivered</td>
                  <td class="dollars"><%= formatted_price(order.total) %></td>
                  <td>
                    <%= link_to admin_order_ordered_items_path(order) do %>
                      <i class="far fa-eye" title="Show Invoice"></i>
                    <% end %>
                  </td>
                  </tr>
                <% end %>
                <tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
