<div class="nested-fields">
  <div class="field">
    <%= f.label :details %> <br>
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label :price %> <br>
    <%= f.text_area :price %>
  </div>
  <div class="field">
    <%= f.label :purchase_price %> <br>
    <%= f.text_area :purchase_price %>
  </div>
  <div class="field">
    <%= f.label :in_stock %> <br>
    <%= f.text_area :in_stock %>
  </div>
  <%= link_to_remove_association "Remove Variant", f %>
</div>