<div class="container" align="center"><br>

  <% if @category and params[:q] == @category.title %>
    <h3>Search Result for <%= @category.title %> Category </h3>
    <hr>
  <% elsif @sub_category and params[:q] == @sub_category.title %>
    <h3>Search Result for <%= @sub_category.title %> Subcategory </h3>
    <hr>
  <% end %>
  <div class="row">
    <% @products.each do |product| %>
      <% first_variant = product.product_variants.first %>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid2">
          <%= link_to product_product_variant_path(product, first_variant) do %>
            <div class="product-image2">
              <%= image_tag(product.brand_image.attached? ? product.brand_image : 'image-not-found.png') %>
            </div>
            <div class="product-content">
              <p class="title"><%= product.title.truncate(25, separator: /\s/) %></p>
              <% if first_variant.final_price != first_variant.price %>
                <s><span class="dollars">
                  <%= formatted_price(first_variant.price) %>
                </span></s>
                <br>
              <% end %>
              <span class="price">
                <span class="dollars">
                  <%= formatted_price(first_variant.final_price) %>
                </span>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <hr>
  </div>
</div>
