<div class="container">
  <div class="card">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><%= image_tag ("mobile_demo.jpg") %></div>
            <div class="tab-pane" id="pic-2"><%= image_tag ("mobile_demo.jpg") %></div>
            <div class="tab-pane" id="pic-3"><%= image_tag ("mobile_demo.jpg") %></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><%= image_tag ("mobile_demo.jpg") %></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><%= image_tag ("mobile_demo.jpg") %></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><%= image_tag ("mobile_demo.jpg") %></a></li>
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><%= @product.title %></h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span class="review-no">41 reviews</span>
          </div>
          <p class="product-description"><%= @product.product_variants.first.details %></p>
          <h4 class="price">current price: <span> &#x9f3; <%= @product.product_variants.first.price %></span></h4>
          <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
          <h5 class="sizes">sizes:
            <span class="size" data-toggle="tooltip" title="small">s</span>
            <span class="size" data-toggle="tooltip" title="medium">m</span>
            <span class="size" data-toggle="tooltip" title="large">l</span>
            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
          </h5>
          <h5 class="colors">colors:
            <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
            <span class="color green"></span>
            <span class="color blue"></span>
          </h5>

          <div class="product-quantity">
            <h5> Available: <%= pluralize(@product.product_variants.first.in_stock, 'item') %> </h5>
            <%= form_tag ordered_items_path do %>
              <h5>
                Quantity: <%= hidden_field_tag :product_variant_id, @product.product_variants.first.id %>
                <%= number_field_tag :quantity, nil, min: 1, max: @product.product_variants.first.in_stock, style: 'width: 50%;', placeholder: 'Select amount' %>
              </h5>
              <%= submit_tag 'Add to cart', class: "like btn btn-default" %>
              <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

