<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <%= link_to 'D-Box', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <div class="dropdown">
          <li class="nav-item dropdown ">
            <a class="navbar-brand dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <% get_all_categories.each do |category| %>
                <li class="dropdown-submenu">
                  <%= link_to category.title, all_products_by_category_path(category), class: "dropdown-item" %>
                    <% if category.sub_categories.length() > 0 %>
                      <ul class="dropdown-menu">
                        <% category.sub_categories.each do |subcategory| %>
                          <li class="dropdown-item">
                            <%= link_to subcategory.title, all_products_by_sub_category_path(subcategory), class: "dropdown-item" %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                </li>
              <% end %>
            </ul>
        </div>
        </li>

        <li>
          <%= form_tag(search_result_path, :method => "get", class: 'navbar-brand form-inline my-2 my-lg-0 ml-auto') do %>
            <div class="input-group">
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
              <div class="input-group-btn">
                <%= button_tag "Search", :class => 'btn btn-info' %>
              </div>
            </div>
          <% end %>
        </li>
      </ul>

    </div>

    <!--  right dropdown-->
    <%= render 'layouts/user_dropdown' %>

  </div>
</nav>
