<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">D-box</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">

          <% get_all_categories.each do |category| %>
            <%= link_to category.title, category, class: 'dropdown-item' %>
          <% end %>

          <div class="dropdown-divider"></div>
          <%= link_to 'All Categories', categories_path, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </div>


  <!--  right dropdown-->
  <% if user_signed_in? %>
    <div align="right">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong> <%= current_user.first_name %></strong>
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">

              <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-outline-secondary' %>
              <div class="dropdown-divider"></div>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
            </div>
          </li>
        </ul>
      </div>
    </div>

  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: 'btn btn-info' %>&nbsp&nbsp&nbsp
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success' %>
  <% end %>

</nav>
<!--    <div class="dropdown">-->
<!--      <ul>-->
<!--        <li><a href="#"><i class="fas fa-user"></i> Profile</a></li>-->
<!--        <li><a href="#"><i class="fas fa-sliders-h"></i> Settings</a></li>-->
<!--        <li><a href="#"><i class="fas fa-sign-out-alt"></i> Signout</a></li>-->
<!--      </ul>-->
<!--    </div>-->
