<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <% if user_signed_in? %>
      <% if current_user.admin? or current_user.super_admin? %>
        <%= link_to image_tag("d-box.png") ,admin_admin_panels_path  %>
      <% else %>
        <%= link_to image_tag("d-box.png") ,root_path  %>
      <% end %>
    <% else %>
      <%= link_to image_tag("d-box.png") ,root_path  %>
    <% end %>

    <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <div class="dropdown">
          <li class="nav-item dropdown ">
            <a class="navbar-brand dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <% get_all_categories.each do |category| %>
                <li class="dropdown-submenu">
                  <% if user_signed_in? %>
                    <% if current_user.admin? or current_user.super_admin? %>
                      <div class="dropdown-item">
                        <%= link_to category.title, admin_category_sub_categories_path(category) %>
                      </div>
                      <% if category.sub_categories.length() > 0 %>
                        <ul class="dropdown-menu">
                          <% category.sub_categories.each do |subcategory| %>
                            <li class="dropdown-item">
                              <%= link_to subcategory.title, admin_category_sub_category_products_path(category, subcategory), class: "dropdown-item" %>
                            </li>
                          <% end %>
                        </ul>
                      <% end %>
                    <% else %>
                      <%= link_to category.title, category_products_path(category), class: "dropdown-item" %>
                      <% if category.sub_categories.length() > 0 %>
                        <ul class="dropdown-menu">
                          <% category.sub_categories.each do |subcategory| %>
                            <li class="dropdown-item">
                              <%= link_to subcategory.title, category_sub_category_products_path(category, subcategory), class: "dropdown-item" %>
                            </li>
                          <% end %>
                        </ul>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= link_to category.title, category_products_path(category), class: "dropdown-item" %>
                    <% if category.sub_categories.length() > 0 %>
                      <ul class="dropdown-menu">
                        <% category.sub_categories.each do |subcategory| %>
                          <li class="dropdown-item">
                            <%= link_to subcategory.title, category_sub_category_products_path(category, subcategory) %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
        </div>
        </li>

        <% if user_signed_in? %>
          <% if current_user.user? %>
            <li>
              <%= form_tag(search_result_path, :method => "get", class: 'navbar-brand form-inline my-2 my-lg-0 ml-auto') do %>
                <div class="input-group">
                  <%= search_field_tag :search, params[:search], placeholder: "Search Product here...", class: "form-control", autocomplete: "off" %>
                  <%= submit_tag "Search", :class => 'btn btn-warning' %>
                </div>
                <div id="search_suggestions">
                  <ul id="search_suggestions_list"> </ul>
                </div>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <li>
            <%= form_tag(search_result_path, :method => "get", class: 'navbar-brand form-inline my-2 my-lg-0 ml-auto') do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], placeholder: "Search Product here...", class: "form-control", autocomplete: "off", style: 'margin: 0' %>
                <%= submit_tag "Search", :class => 'btn btn-warning' %>
              </div>
              <div id="search_suggestions">
                <ul id="search_suggestions_list"> </ul>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>

    </div>

    <!--  right dropdown-->
    <%= render 'layouts/user_dropdown' %>

  </div>
</nav>
