<div class="row nav-row nav-bg">
  <div class="col-lg-2">
    <% if user_signed_in? %>
      <% if current_user.admin? or current_user.super_admin? %>
        <%= link_to image_tag("d-box.png"), admin_admin_panels_path %>
      <% else %>
        <%= link_to image_tag("d-box.png"), root_path %>
      <% end %>
    <% else %>
      <%= link_to image_tag("d-box.png"), root_path %>
    <% end %>
  </div>

  <div class="col-lg-6">
    <div class="nav-search">
      <ul class="nav-search-list">
        <% if user_signed_in? %>
          <% if current_user.user? %>
            <li>
              <%= form_tag(search_result_path, :method => "get") do %>
                <div class="input-group">
                  <%= search_field_tag :search, params[:search], placeholder: "Search Product here...", class: "form-control search-input", autocomplete: "off" %>
                  <%= submit_tag "Search", :class => 'search-bar-btn' %>
                </div>
                <div id="search_suggestions">
                  <ul id="search_suggestions_list"></ul>
                </div>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <li>
            <%= form_tag(search_result_path, :method => "get") do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], placeholder: "Search Product here...", class: "form-control search-input", autocomplete: "off", style: 'margin: 0' %>
                <%= submit_tag "Search", :class => 'search-bar-btn' %>
              </div>
              <div id="search_suggestions">
                <ul id="search_suggestions_list"></ul>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-lg-4" align="right">
    <% if !user_signed_in? %>
      <%= link_to cart_index_path, class: 'notification-icon' do %>
        <i class="fab fa-opencart" style="color: #008893"></i>
        <% if current_order.ordered_items.sum(:quantity) > 0 %>
      <span class="notification-badge">
       <b><%= current_order.ordered_items.sum(:quantity) %></b>
      </span>
        <% end %>
      <% end %>
      &nbsp&nbsp&nbsp
    <% end %>

    <% if user_signed_in? %>
      <% if current_user.user? %>
        <%= link_to cart_index_path, class: 'notification-icon' do %>
          <i class="fab fa-opencart" style="color: #008893"></i>
          <% if current_order.ordered_items.sum(:quantity) > 0 %>
        <span class="notification-badge">
       <b><%= current_order.ordered_items.sum(:quantity) %></b>
      </span>
          <% end %>
        <% end %>
        &nbsp&nbsp&nbsp
        <span class="notification-icon" style="color: #008965">
          <i class="far fa-bell"></i>
        </span>
        &nbsp&nbsp
      <% end %>
    <% end %>
  </div>
</div>

<% if !user_signed_in? || (user_signed_in? && current_user.user?) %>
  <div class="row nav-row nav-bg">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Categories
      </button>
      <div aria-labelledby="dropdownMenuButton">
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
          <% get_all_categories.each do |category| %>
            <li class="dropdown-item">
              <%= link_to category.title, category_products_path(category), class: "dropdown-item" %>
              <% if category.sub_categories.count > 0 %>
                <ul class="dropdown-submenu">
                  <% category.sub_categories.each do |subcategory| %>
                    <li class="dropdown-item">
                      <%= link_to subcategory.title, category_sub_category_products_path(category, subcategory), class: "dropdown-item" %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="nav-bar">
      <!--    <ul>-->
      <!--      <li><a href="#home">Home</a></li>-->
      <!--      <li><a href="#news">News</a></li>-->
      <!--      <li><a href="#contact">Contact</a></li>-->
      <!--      <li style="float:right"><a class="active" href="#about">About</a></li>-->
      <!--    </ul>-->
    </div>
  </div>
<% end %>

<!--  right dropdown-->
<%#= render 'layouts/user_dropdown' %>


<!--</div>-->




