<%= link_to  cart_path, class:'notification btn btn-info' do %>
  <i class="fas fa-cart-arrow-down"></i>
  <span class="badge">  <%= current_order.ordered_items.count %></span>
<% end %>
&nbsp&nbsp&nbsp
<% if user_signed_in? %>

  <div align="right">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item dropdown ">
          <%= image_tag(current_user.avatar_thumbnail, class: 'circular-image float-left') %>
          <a class="navbar-brand dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!--                <strong> <%#= current_user.last_name %></strong>-->
          </a>
          <div class="dropdown-menu float-right" aria-labelledby="navbarDropdown">
            <div class="dropdown-item-text"> <%= current_user.first_name %> </div>
            <div class="dropdown-divider"></div>
            <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %>

              <% if current_user.admin? or current_user.super_admin? %>
                <div class="dropdown-divider"></div>
                <% if controller.controller_name == "admin_panels"  %>
                  <%= link_to 'User mode', home_index_path, class: 'dropdown-item' %>
                <% else %>
                  <%= link_to 'Admin mode', admin_panels_path, class: 'dropdown-item' %>
                <% end %>
              <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    </div>
  </div>

<% else %>
  <%= link_to "Sign in", new_user_session_path, class: 'btn btn-info' %>&nbsp&nbsp&nbsp
  <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success' %>
<% end %>